.stay-on {
    padding: 110px 0;

    .stay-on__container {
        .stay-on__title {
            font-size: 31px;
            line-height: 40px;
            font-weight: normal;
            text-transform: capitalize;
            font-style: italic;
            color: #848789;
        }

        .stay-on__logo {
            margin: 0 auto;

        }

        &>*:not(:last-child) {
            margin-bottom: 30px;
        }

        .stay-on__submit {
            .stay-on__input {
                padding: 0 20px;
                height: 70px;
                border: 1px solid #64c29e;
                
                @media (min-width: 310px) {
                    width: 80%;
                    margin-bottom: 15px;
                }
                @media (min-width: 767px) {
                    margin-bottom: 0;
                }


                &::placeholder {
                    padding-left: 10px;
                    font-size: 26px;
                    @media (min-width: 320px) {
                        padding-left: 25%;
                    }
                    @media (min-width: 540px) {
                        padding-left: 15px;
                    }
                    @media (min-width: 790px) {
                        padding-left: 15px;
                    }
                    
                }

            }

            .stay-on__button {
                padding: 0;
                border: 0;
                background-color: #64c29e;
                color: #fff;
                text-transform: uppercase;
                height: 70px;
                width: 100px;

                @media (max-width: 790px) {
                    height: 50px;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}
